
<div style="justify-content:space-between;">
    <button class="homeButton btn-sm btn-outline-primary active"
            style="margin-right:10px;"
            onclick="showHomeTeamData()">
        Home
    </button>
    <button class="awayButton btn-sm btn-outline-primary"
            onclick="showAwayTeamData()">
        Away
    </button>
</div>
<br />
<div class="fans-match-lineups-container">
    <div>
        <div style="margin-bottom:20px;" id="homeTeamLineUp" class="lineUp"> </div>
        <div style="margin-bottom:20px;" id="homeTeamSubstitutes" class="substitutes"> </div>
        <div style="margin-bottom:20px;" id="awayTeamLineUp" class="lineUp"> </div>
        <div style="margin-bottom:20px;" id="awayTeamSubstitutes" class="substitutes"> </div>
    </div>
</div>

